@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
}
.nav{
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: rgb(34, 34, 65);
    color: white;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    margin: 0 7%;
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.search{
    display: flex;
    align-items: center;
}
.navbar .search input{
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: none;
    height: 35px;
    width: 600px;
    padding: 0 19px;
}
.navbar .search button{
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #fcbb6a;
    height: 35px;
    border: none;
    width: 60px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;

}



.msearch input{
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: none;
    height: 35px;
    padding: 0 19px;
    display: none;
}
.msearch button{
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #fcbb6a;
    height: 35px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
    display: none;


}

.navbar .auth{
    display: flex;
}
.navbar .login,.signup{
    margin: 0 20px;
}

.navbar .fmenu ,.fav, .cart , .auth{
    font-size: 0.9rem;
    display: flex;
    margin:0 29px;
    align-items: center;
}



nav .bnavbar{
    background-color: rgb(28, 28, 52);
    color: white;
    display: flex;
}
.bnavbar ul{
    display: flex;
    width: 100%;
    height: 40px;
    font-weight: bold;
    align-items: center;
    list-style: none;
    padding-left: 6%;
}
.bnavbar li{
    margin:0 20px;
}









.main{
    margin: 50px 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}
.main .fbanner{
    overflow: hidden;
    width: 49%;
    height: 48%;
    /* background-image: url('../images/main-banner.jpg'); */
    background-size: auto 100%;
    background-repeat: no-repeat;

}
.main .fbanner video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}
.mutebutton{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    z-index: 999;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: none;
}
figure{
    position: relative;
    
}

.main .fbanner figcaption{
    position: absolute;
    top: 0px;
    /* background-color: red; */
    width: 100%;
    /* margin-top: 30px; */
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 88px 60px;
    height: 100%;
    font-size: 1.2rem;

}
.fbanner span{
    color: #ff9b3d;
}

.main .fbanner figcaption .buynow{
    background-color: black;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: none;
}

/* .main .fbanner h1{
    width: 50;
} */

.banners{
    width: 48%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.firstimg, .twoimg, .three, .four{
    width: 48%;
    height: 48%;
    
}
.banners img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.banners figure{
    position: relative;

}
.banners figcaption{
    position: absolute;
    top: 10px;
    padding: 40px 30px;
    font-size: 1rem;

}
.banners button{
    background-color: black;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: none;
}




.services{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.137);
    width: 100%;
    font-size: 1rem;
    justify-content: center;

    /* overflow: auto;
    white-space: nowrap;
    padding-left: 1px; */

}
.service{
    width: 300px;
    display: flex;
    height: 140px;
    align-items: center;
    /* justify-content: center; */
    
}
.service img{
    width: 40px;
    display: flex;
    height: 40px;
    margin: 10px 30px;
    
}



@media (max-width:1600px) {
    .navbar{
        margin: 0 5%;
    
    }
    .navbar .search input{

        width: 400px;
        padding: 0 19px;
    }
    .logo h1{
        width: 80px;
        margin: 0 60px;
    }
    .navbar .fmenu ,.fav, .cart , .auth{
        font-size: 0.9rem;
        margin:0 29px;
 
    }
    


    .main .fbanner figcaption{
        padding: 50px 60px;
        font-size: 1rem;
    }
    .banners figcaption{

        padding: 40px 30px;
        font-size: 0.7rem;
    
    }
}



@media (max-width:1150px) {
    .navbar{
        margin: 0 40px;
    
    }
    .navbar .search input{

        width: 300px;
        padding: 0 19px;
    }
    .logo h1{
        width: 80px;
        margin: 0 20px;
    }
    .navbar .fmenu ,.fav, .cart , .auth{
        font-size: 0.7rem;
        margin:0 19px;
 
    }

    .main .fbanner figcaption{
        padding: 30px 30px;
        font-size: 0.7rem;
    }
    .banners figcaption{
        position: absolute;
        top: 10px;
        padding: 10px 20px;
        font-size: 0.7rem;
    
    }
}

@media (max-width:858px) {
    .navbar .search input{

        width: 200px;
        padding: 0 19px;
    }
    
}

@media (max-width:756px) {

    .navbar{
        margin: 0 10px;
    
    }
    .navbar .search {
        width: 200px;
        padding: 0 19px;
        display: none;
    }
    .msearch{
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: rgb(34, 34, 65);
    }
    .msearch input{
        display: flex;
        width: 90%;
    }
    .msearch button{
        justify-content: center;
        align-items: center;
        display: flex;
        width: 20%;
    }

    .bnavbar ul{
        overflow: auto;
        white-space: nowrap;
        padding-left: 13px;
    }  

    .main{
        margin: 20px 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .main .fbanner{
        overflow: hidden;
        width: 100%;
        height: 48%;
        background-size: auto 100%;
        background-repeat: no-repeat;
    
    }
    .main .fbanner figcaption{
        padding: 60px 40px;
        font-size: 1rem;
    }

    .banners{
        margin-top: 3%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }

}

@media (max-width:519px) {
    
    .bnavbar li{
        margin:0 10px;
        font-size: 0.8rem;
    }

    .main .fbanner figcaption{
        padding: 60px 40px;
        font-size: 0.7rem;
    }


    .service{
        width: 100%;
        display: flex;
        height: 100px;
        /* align-items: center; */
        
    }
}

@media (max-width:458px) {
    .nav .fmenu span{
        display: none;
    }
    .navbar .fmenu ,.fav, .cart , .auth{
        font-size: 0.7rem;
        margin:0 7px;
 
    }
    .main .fbanner figcaption{
        padding: 30px 20px;
        font-size: 0.6rem;
    }
    .banners figcaption{
        position: absolute;
        top: 10px;
        padding: 10px 20px;
        font-size: 2.4vw;
    
    }
    .banners button{

        width: 60px;
        height: 25px;

    }
    
}

@media (max-width:322px) 
{
    .bnavbar ul{
        overflow: auto;
        white-space: nowrap;
        padding-left: 1px;
    } 

}