@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
}

.nav {
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: rgb(34, 34, 65);
    color: white;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a{
    color: white;
    text-decoration: none;
}
.navbar {
    margin: 0 7%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search {
    display: flex;
    align-items: center;
}

.navbar .search input {
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: none;
    height: 35px;
    width: 600px;
    padding: 0 19px;
}

.navbar .search button {
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #fcbb6a;
    height: 35px;
    border: none;
    width: 60px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;

}



.msearch input {
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: none;
    height: 35px;
    padding: 0 19px;
    display: none;
}

.msearch button {
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #fcbb6a;
    height: 35px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
    display: none;
    cursor: pointer;


}

.navbar .auth {
    display: flex;
}

.navbar .login,
.signup {
    margin: 0 20px;
}

.navbar .fmenu,
.fav,
.cart,
.auth {
    font-size: 0.9rem;
    display: flex;
    margin: 0 29px;
    align-items: center;
}



nav .bnavbar {
    background-color: rgb(28, 28, 52);
    color: white;
    display: flex;
}

.bnavbar ul {
    display: flex;
    width: 100%;
    height: 40px;
    font-weight: bold;
    align-items: center;
    list-style: none;
    padding-left: 6%;
}

.bnavbar li {
    margin: 0 20px;
}









.main {
    margin: 50px 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.main .fbanner {
    overflow: hidden;
    width: 49%;
    height: 48%;
    /* background-image: url('../images/main-banner.jpg'); */
    background-size: auto 100%;
    background-repeat: no-repeat;

}

.main .fbanner video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

.mutebutton {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    z-index: 999;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: none;
}

figure {
    position: relative;

}

.main .fbanner figcaption {
    position: absolute;
    top: 0px;
    /* background-color: red; */
    width: 100%;
    /* margin-top: 30px; */
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 88px 60px;
    height: 100%;
    font-size: 1.2rem;

}

.fbanner span {
    color: #ff9b3d;
}

.main .fbanner figcaption .buynow {
    background-color: black;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* .main .fbanner h1{
    width: 50;
} */

.banners {
    width: 48%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.firstimg,
.twoimg,
.three,
.four {
    width: 48%;
    height: 48%;

}

.banners img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.banners figure {
    position: relative;

}

.banners figcaption {
    position: absolute;
    top: 10px;
    padding: 40px 30px;
    font-size: 1rem;

}

.banners button {
    background-color: black;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}




.services {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    font-size: 1rem;
    justify-content: center;
    padding: 10px 0;
    /* overflow: auto;
    white-space: nowrap;
    padding-left: 1px; */

}

.service {
    width: 300px;
    display: flex;
    height: 140px;
    align-items: center;
    /* justify-content: center; */

}

.service img {
    width: 40px;
    display: flex;
    height: 40px;
    margin: 10px 30px;

}




.categoryBg {
    padding: 0 7%;
    background-color: rgba(0, 0, 0, 0.05);
    padding-bottom: 40px;

}
.categoryBg a{
    text-decoration: none;
    color: black;
}
.category {
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.233);
    padding: 30px 0;
    width: 100%;
    /* overflow: auto;
    white-space: nowrap;
    padding-left: 1px; */
}

.category .product {
    border-right: 1px solid rgba(0, 0, 0, 0.044);
    border-bottom: 1px solid rgba(0, 0, 0, 0.044);
    padding: 30px 22px;
    display: flex;
}

.producttext {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.category .product img {
    width: 70px;
    cursor: pointer;
}





.cardsmain {
    padding: 0 7%;
    background-color: rgba(0, 0, 0, 0.05);
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cards .card {
    width: 200px;
    display: flex;
    height: auto;
    object-fit: fill;
    margin: 3% 1%;
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.093);
    border-radius: 7px;


}

.cards .card img {
    width: 100%;
    margin-bottom: 39px;


}

.cards figure {
    width: 100%;
}

.cards figcaption {
    width: 100%;
}





.secondFeatured {
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.secondFeatured .video {
    width: 30%;
    border-radius: 10px;
}

.secondFeatured video {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: black;

}

.secondFeatured .productCard {
    width: 70%;
    border-radius: 10px;

}

.secondFeatured img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
}




footer {
    width: 100%;
    background-color: rgb(28, 28, 52);
    color: white;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}

footer .footer {
    padding: 50px 0;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .footer .first,
.second,
.third,
.fourt {
    /* margin: 0 10%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

footer ul {
    list-style: none;
    padding-top: 20px;
}

footer li {
    padding: 5px 0;
}

footer ul i {
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 36px;
    margin: 6px 10px;
    padding: 5px 10px;
    font-size: 2rem;
    color: black;
}

.copyright {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
}


.productBg {
    background-color: rgba(0, 0, 0, 0.05);
}

.prouctMain {
    margin: 0 4%;
    display: flex;
    justify-content: center;
}

.fillter {
    width: 15%;
    height: 700px;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    margin: 24px 0;
    border-radius: 7px;
}

.fillter .first {
    margin-top: 40px;
}

.fillter ul {
    margin-top: 20px;
    list-style: none;
    margin-bottom: 20px;

}
.fillter li{
    cursor: pointer;
}
.productsPage {
    width: 90%;
}

.productsPage h1 {
    margin: 20px 0 0px 70px;
}


.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.products .product {
    overflow: hidden;

    width: 300px;
    display: flex;
    height: auto;
    object-fit: fill;
    margin: 0% 1%;
    background-color: white;
    margin-top: 30px;
    box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.093);
    border-radius: 7px;


}

.products .product img {
    width: 100%;
    height: 300px;
    margin-bottom: 39px;


}

.products .product figcaption {

    padding: 0 20px 30px 20px;


}

.products figure {
    width: 100%;
}

.products figcaption {
    width: 100%;
}


.fillter h1{
    font-size:  1.5rem;
    margin-bottom: 16px;

}








.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login .inputs{
    
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.065);

    padding: 30px;
    margin: 40px;
}
.login h1{
    margin-bottom: 40px;
    text-align: center;
}
.login label{
    margin-top: 20px;
    /* height: 30px; */
}
.login input{
    margin-top: 10px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1rem;
}

input:focus{
    outline: none;
}
.login input[type=submit]{
    margin: 40px 0 20px 0;
    background-color: #fcbb6a;
    border: none;
    border-radius: 10px;
    height: 40px;

}



@media (max-width:1600px) {
    .navbar {
        margin: 0 5%;

    }

    .navbar .search input {

        width: 400px;
        padding: 0 19px;
    }

    .logo h1 {
        width: 80px;
        margin: 0 60px;
    }

    .navbar .fmenu,
    .fav,
    .cart,
    .auth {
        font-size: 0.9rem;
        margin: 0 29px;

    }



    .main .fbanner figcaption {
        padding: 50px 60px;
        font-size: 1rem;
    }

    .banners figcaption {

        padding: 40px 30px;
        font-size: 0.7rem;

    }
}



@media (max-width:1150px) {
    .navbar {
        margin: 0 40px;

    }

    .navbar .search input {

        width: 300px;
        padding: 0 19px;
    }

    .logo h1 {
        width: 80px;
        margin: 0 20px;
    }

    .navbar .fmenu,
    .fav,
    .cart,
    .auth {
        font-size: 0.7rem;
        margin: 0 19px;

    }

    .main .fbanner figcaption {
        padding: 30px 30px;
        font-size: 0.7rem;
    }

    .banners figcaption {
        position: absolute;
        top: 10px;
        padding: 10px 20px;
        font-size: 0.7rem;

    }

    .login .inputs{
        width: 50%;
    }
}

@media (max-width:858px) {
    .navbar .search input {

        width: 200px;
        padding: 0 19px;
    }

    .cards .card {
        width: 260px;
        display: flex;
    }

    .secondFeatured {
        display: none;
    }

    footer .footer {
        padding: 50px 0;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .prouctMain {
        margin: 0;
    }

    .fillter {
        width: 100%;
        position: absolute;
        z-index: 100000;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .productsPage {
        width: 100%;
    }


    .products .product {
        overflow: hidden;

        width: 150px;
        display: flex;
        height: auto;
        object-fit: fill;
        margin: 0% 1%;
        background-color: white;
        margin-top: 30px;
        box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.093);
        border-radius: 7px;


    }

    .products .product img {
        width: 100%;
        height: 200px;
        margin-bottom: 39px;
    }
}

@media (max-width:756px) {

    .navbar {
        margin: 0 10px;

    }

    .navbar .search {
        width: 200px;
        padding: 0 19px;
        display: none;
    }

    .msearch {
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: rgb(34, 34, 65);
    }

    .msearch input {
        display: flex;
        width: 90%;
    }

    .msearch button {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 20%;
        cursor: pointer;
    }

    .bnavbar ul {
        overflow: auto;
        white-space: nowrap;
        padding-left: 13px;
    }

    .main {
        margin: 20px 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .main .fbanner {
        overflow: hidden;
        width: 100%;
        height: 48%;
        background-size: auto 100%;
        background-repeat: no-repeat;

    }

    .main .fbanner figcaption {
        padding: 60px 40px;
        font-size: 1rem;
    }

    .banners {
        margin-top: 3%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .categoryBg {
        padding: 0 10px;
        padding-bottom: 20px;
    }

    .category {
        /* justify-content: flex-start; */
    }

    .category .product {
        border: 1px solid rgba(0, 0, 0, 0.096);
        width: 40%;
    }

    .category .producttext {
        font-size: 3vw;

    }

    .cardsmain {
        padding: 0 2%;
        background-color: rgba(0, 0, 0, 0.05);
    }

    .cards .card {
        width: 270px;
        display: flex;
    }

    .products .product figcaption {

        padding: 0 20px 30px 0px;


    }

    .products .product {
        padding: 10px 10px;


    }

}

@media (max-width:519px) {

    .bnavbar li {
        margin: 0 10px;
        font-size: 0.8rem;
    }

    .main .fbanner figcaption {
        padding: 60px 40px;
        font-size: 0.7rem;
    }


    .service {
        width: 100%;
        display: flex;
        height: 100px;
        /* align-items: center; */

    }

    .category .product {
        width: 36%;
    }

    .cards .card {
        width: 170px;


    }


    footer .footer {
        padding: 50px 0;
        width: 83%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .login .inputs{
        width: 70%;
    }
}

@media (max-width:458px) {
    .nav .fmenu span {
        display: none;
    }

    .navbar .fmenu,
    .fav,
    .cart,
    .auth {
        font-size: 0.7rem;
        margin: 0 7px;

    }

    .main .fbanner figcaption {
        padding: 30px 20px;
        font-size: 0.6rem;
    }

    .banners figcaption {
        position: absolute;
        top: 10px;
        padding: 10px 20px;
        font-size: 2.4vw;

    }

    .banners button {

        width: 60px;
        height: 25px;
        cursor: pointer;

    }

    .category .product img {
        width: 40px;
    }

    .category .product {
        width: 30%;
    }

    .cards .card {
        width: 130px;


    }

}


@media (max-width:372px) {
    .cards .card {
        width: 120px;


    }
    
    .login .inputs{
        width: 80%;
    }
    
}

@media (max-width:355px) {
    .products .product img {
        width: 100%;
        margin-bottom: 39px;
    }
        .products .product {
        overflow: hidden;
    
        width: 40%;
        display: flex;
        height: auto;
        object-fit: fill;
        margin: 0% 1%;
        background-color: white;
        margin-top: 30px;
        box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.093);
        border-radius: 7px;
    
    
    }
}

@media (max-width:322px) {
    .bnavbar ul {
        overflow: auto;
        white-space: nowrap;
        padding-left: 1px;
    }
    
    .cards .card {
        margin: 20px;
        width: 100%;

    }


}